:root {
    --color-white: white;
    --color-off-white:rgb(239, 239, 240);
    --color-gray: rgb(223, 225, 227);
    --color-blue-gray: rgb(105, 117, 134);
    --color-black: rgb(56, 56, 56);
    --color-pink: rgb(245, 163, 183);
    --color-purple: rgb(176, 166, 189);
    --font-sise-h1: 48px bold;
    --font-sise-h2: 32px bold;
    --font-sise-h3: 20px;
    --font-sise-subtitle1: 17px bold;
    --font-sise-subtitle2: 16px bold;
    --font-sise-body1: 17px;
    --font-sise-body2: 16px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
    font-family: "Montserrat", serif;
}
body {
    background-color: var(--color-off-white);
}
footer {
    background-color: var(--color-black);
    min-height: 100px;
}
header {
    background-color: var(--color-white);
    min-height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
nav {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-menu {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.menu {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.main-menu__link {
    text-decoration: none;
    font-size: var(--font-sise-body1);
    color: var(--color-black);
}
.menu__link {
    text-decoration: none;
    font-size: var(--font-sise-body2);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-menu__link--active {
    text-decoration: none;
    font-size: var(--font-sise-body1);
    color: var(--color-pink);
}
main {
    flex-grow: 1;
    margin-top: 100px;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    background-color: var(--color-off-white);
}
@media (max-width:1800px) {
    .container {
        max-width: 1200px;
    }
}
@media (max-width:1600px) {
    .container {
        max-width: 1000px;
    }
}
@media (max-width:1200px) {
    .container {
        max-width: 992px;
    }
}

.catalog {
    display: flex;
    flex-direction: row;
    gap:20px;
}
.catalog__sort {
    background-color: var(--color-off-white);
    min-height: 40px;
}
.catalog__content {
    flex-grow: 1;
}
.catalog__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 15px;
}
@media (max-width:1400px) {
    .catalog__grid {
    grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:992px) {
    .catalog__grid {
    grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px) {
    .catalog__filter {
    display: none;
    }
    .catalog__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:576px) {
    .catalog__grid {
    grid-template-columns: repeat(1, 1fr);
    }
}



/*----------карточка товара-----------*/

.catalog__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 8px;
}
.catalog__text {
    background-color: var(--color-white);
    border-radius: 0px 0px 6px 6px;
    padding: 20px;
}
.catalog__img {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    aspect-ratio: 1;
    object-fit: cover;
}
.catalog__price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.price-now {
    font-size: var(--font-sise-body1);
    color: var(--color-black);
    margin-bottom: 20px;
}
.catalog__feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}
.catalog__raiting {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 3px;
    font-size: var(--font-sise-body2);
    color: var(--color-blue-gray);
    margin-bottom: 10px;
}
.i-noactive {
    color: var(--color-gray);
}
.i-active {
    color: var(--color-pink);
}
.catalog__btn {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-black);
    border-radius: 4px;
    color: var(--color-black);
    transition: 0.3s ease-in;
    font-size: var(--font-sise-subtitle2);
    font-family: "Montserrat", serif;
}
.catalog__btn:hover,
.catalog__btn:focus,
.catalog__btn:active {
    background-color: var(--color-black);
    color: var(--color-white);
}
.img__wrapper {
    position: relative;
}
.img__wrapper i {
    color: var(--color-purple);
}
.fav-btn {
    color: var(--color-blue-gray);
    position: absolute;
    top: 25px;
    right: 20px;
    transition: color 0.2s ease-in-out;
}
.fav-btn:hover,
.fav-btn:focus,
.fav-btn:active {
    color: var(--color-black);
}
.catalog__promotions {
    position: absolute;
    top: 20px;
}
.sales {
    background-color: var(--color-pink);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 0px 36px 36px 0px;
    color: var(--color-white);
    font-size: var(--font-sise-body2);
    width: 80px;
    margin-top: 10px;
}
.rated {
    background-color: var(--color-purple);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 0px 36px 36px 0px;
    color: var(--color-white);
    font-size: var(--font-sise-body2);
}
.catalog__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-black);
    text-decoration: none;
    font-size: var(--font-sise-body1);
    margin-bottom: 10px;
    transition: color 0.3s;
}
.catalog__title:hover,
.catalog__title:focus {
    color:var(--color-pink);
} 

.catalog__description {
    color: var(--color-blue-gray);
    font-size: var(--font-sise-body2);
    margin-bottom: 10px;
}

/*-------------Пагинация---------------*/

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-grow: 1;
}
.pagination__namder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-purple);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 40px;
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: 0.3s ease-in;
}
.pagination__namder:hover,
.pagination__namder:focus,
.pagination__namder:active {
    background-color: var(--color-pink);
}
.pagination__active {
    background-color: var(--color-pink);
}
.pagination__href {
    color: var(--color-blue-gray);
    margin: 10px;
    transition: 0.3s ease-in;
}
.pagination__href:hover,
.pagination__href:focus,
.pagination__href:active {
    color: var(--color-pink);
}

/*----------сортировка-----------*/

.filter__section {
    display: flex;
    align-items: center;
    max-width: 370px;
    margin-left: 20px;
}
.filter__section p {
    font-size: var(--font-sise-body1);
    color: var(--color-blue-gray);
    margin-right: 20px;
    white-space: nowrap;
}
.filter-sort {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    text-overflow: '';
    background-color: var(--color-white);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    font-size: var(--font-sise-body2);
    font-family: "Montserrat", serif;
    content: "\F229";
}
.filter-sort::-ms-expand {
    display: none;
}

/*----------фильтрация-----------*/

.catalog__filter {
    width: 290px;
    background-color:var(--color-white);
    flex-shrink: 0;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 40px;
}
.filter-color {
    display: flex;
    gap: 15px;
    padding-top: 20px;
}
.filter-color__item {
    flex-shrink: 0;
}
.filter-color__checkbox {
    display: none;
}
.filter-color__label {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    outline: var(--color-gray) 0px solid;
    outline-offset: 0px;
    transition: outline 0.2s, outline-offset 0.2s;
}
.filter-color__label:focus,
.filter-color__label:hover {
    outline: var(--color-gray) 2px solid;
    outline-offset: 3px;
    cursor: pointer;
}
.filter-color__label:active {
    outline: var(--color-blue-gray);
}
.filter-color__checkbox:checked+.filter-color__label {
    outline: var(--color-gray) 2px solid;
    outline-offset: 3px;
}
.filter-color__label::after {
    content: "";
    transition: transform 0.2s;
}
.filter-color__checkbox:checked+.filter-color__label::after {
    content: "\F272";
    font-family: "bootstrap-icons";
    color: var(--color-gray);
    transform: scale(1);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-brand__item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: var(--font-sise-body2);
    color: var(--color-blue-gray);
}
.filter-type__item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: var(--font-sise-body2);
    color: var(--color-blue-gray);
}
.filter-skin__item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: var(--font-sise-body2);
    color: var(--color-blue-gray);
}
.filter__subtitle {
    margin-top: 15px;
    font-size: var(--font-sise-subtitle1);
    color: var(--color-black);
}
input[type="radio"] {
    margin-right: 1em;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: var(--color-blue-gray) solid 1px;
    transition: all;
}
input[type="radio"]:checked {
    transform: scale(0.6);
    background-color: var(--color-pink);
    outline: var(--color-blue-gray) 1px solid;
    outline-offset: 6px;
}
input[type="radio"]:disabled :checked {
    transform: scale(2);
    outline-offset: 6px;
}
input[type="checkbox"] {
    margin-right: 1em;
    appearance: none;
    border-radius: 15%;
    width: 20px;
    height: 20px;
    border: var(--color-blue-gray) solid 1px;
    transition: all;
}
input[type="checkbox"]:checked {
    transform: scale(0.6);
    background-color: var(--color-pink);
    outline: var(--color-blue-gray) 1px solid;
    outline-offset: 6px;
}
input[type="checkbox"]:disabled :checked {
    transform: scale(2);
    outline-offset: 6px;
}
.filter__btn {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-black);
    border-radius: 4px;
    color: var(--color-black);
    transition: 0.3s ease-in;
    font-size: var(--font-sise-subtitle2);
    font-family: "Montserrat", serif;
    margin-top: 20px;
}
.filter__btn:hover,
.filter__btn:focus,
.filter__btn:active {
    background-color: var(--color-black);
    color: var(--color-white);
}

/*---------КАРТОЧКА ТОВАРА-----------*/

.product {
    display: flex;
    flex-direction: row;
    gap: 120px;
}
.product__title {
    font-size: var(--font-sise-h3);
    color: var(--color-black);
    margin-bottom: 20px;
}
.product__raiting {
    margin-top: 20px;
}
.product__price {
    margin-top: 16px;
    font-size: var(--font-sise-h3);
    color: var(--color-black);
}
.product__description {
    margin-top: 20px;
    font-size: var(--font-sise-body2);
    color: var(--color-blue-gray);
}
.product__description p {
    margin-top: 10px;
}
.product-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-img-big {
    width: 495px;
    height: 495px;
}
.product-img-small {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.img-small {
    width: 83px;
    height: 83px;
    background-color: var(--color-gray);
}
.img-small--active {
    width: 83px;
    height: 83px;
    background-color: var(--color-gray);
    border: 1px solid var(--color-purple);
}
.product__click {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    margin-top: 20px;
}
.product__rec-title {
    font-size: var(--font-sise-body2);
    color: var(--color-black);
    margin-top: 20px;
}
.product__rec-section {
    margin-top: 10px;
    color: var(--color-blue-gray);
    font-size: var(--font-sise-body2);
}
.product__rec-section i {
    margin-right: 10px;
}
.product__btn {
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--color-pink);
    transition: 0.3s ease-in;
    font-size: var(--font-sise-subtitle2);
    font-family: "Montserrat", serif;
    border: none;
    color: var(--color-white);
    max-width: 226px;
}
.product__btn:hover,
.product__btn:focus,
.product__btn:active {
    background-color: var(--color-black);
    color: var(--color-white);
}
.reviews {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.reviews__title {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    align-items: center;
}
.reviews__h3 {
    font-size: var(--font-sise-h3);
    color: var(--color-black);
    margin-top: 60px;
    margin-bottom: 20px;
}
.reviews__title p {
    margin-top: 10px;
}
.revievs__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.revievs__card img {
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
.revievs__card-person {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 900px;
}
.revievs__card-avatar {
    width: 50px;
    height: 50px;
    background-color: var(--color-gray);
    border-radius: 50px;
    flex-shrink: 0;
}
.revievs__card-name {
    font-size: var(--font-sise-body1);
    margin-bottom: 10px;
}
.revievs__card-text {
    font-size: var(--font-sise-body2);
    color: var(--color-blue-gray);
    margin-top: 10px;
}
.product__ingredients {
    font-size: var(--font-sise-body2);
    color: var(--color-black);
    margin-top: 20px;
}
.product__ingredients p {
    font-size: var(--font-sise-body2);
    color: var(--color-blue-gray);
}
.reviews__btn {
    position: relative;
    background-color: var(--color-white);
    width: 200px;
    padding: 10px;
    border: 1px solid var(--color-black);
    border-radius: 4px;
    color: var(--color-black);
    transition: 0.3s ease-in;
    font-size: var(--font-sise-subtitle2);
    font-family: "Montserrat", serif;
    margin-top: 20px;
}
.reviews__btn:hover,
.reviews__btn:focus,
.reviews__btn:active {
    background-color: var(--color-black);
    color: var(--color-white);
}
.catalog__offer {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*---------ОФОРМЛЕНИЕ ЗАКАЗА-----------*/

.ordering {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1800px;
    justify-content: center;
    margin-bottom: 40px;
}
.information {
    width: 800px;
    background-color: var(--color-white);
    padding: 10px 30px 30px 30px;
}
.order {
    width: 400px;
    background-color: var(--color-white);
    padding: 30px;
}
.information p {
    text-decoration: none;
    font-size: var(--font-sise-h3);
    color: var(--color-black);
    margin: 20px 0 20px 0;
}
.ordering__btn {
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--color-pink);
    transition: 0.3s ease-in;
    font-size: var(--font-sise-subtitle2);
    font-family: "Montserrat", serif;
    border: none;
    color: var(--color-white);
    max-width: 300px;
    margin-top: 20px;
}
.ordering__btn:hover,
.ordering__btn:focus,
.ordering__btn:active {
    background-color: var(--color-black);
    color: var(--color-white);
}
.order p {
    text-decoration: none;
    font-size: var(--font-sise-h3);
    color: var(--color-black);
}
.order__card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-gray);
}
.order img {
    width: 100px;
    height: 100px;
}
.form-lable {
    color: var(--color-blue-gray);
    margin-top: 10px;
    display: block;
}
.form-field {
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid var(--color-blue-gray);
    padding: 6px;
    width: 50%;
}
.order__card-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 20px 4px 20px;
    border: 1px solid var(--color-black);
    border-radius: 8px;
    width: 90px;
}
.order__card-price {
    font-size: var(--font-sise-body2);
    color: var(--color-blue-gray);
}
.order__card-close {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}